:root{
    --btnFilter: 0deg;
}

@font-face {
    font-family: 'alien';
    src: url('media/font/QuirkyRobot.eot'); /* IE9 Compat Modes */
    src: url('media/font/QuirkyRobot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('media/font/QuirkyRobot.woff2') format('woff2'), /* Super Modern Browsers */
        url('media/font/QuirkyRobot.woff') format('woff'), /* Pretty Modern Browsers */
        url('media/font/QuirkyRobot.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html, body{
    height: 100%;
    font-family: 'alien';
    letter-spacing: 0.2em;
    margin: 0;
}

body{
    background-color: black;
    transition: background-color 2.5s, margin 1s ease-in-out;
}




/* Styles for top left button menu */

#verticalBtnMenu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    z-index: 103;
}

@media only screen and (max-width: 1098px) {
    #verticalBtnMenu{
        flex-direction: row;
    }
}

.picBtn{
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    margin: 8px;
    transition: transform 400ms, background 600ms;
}

.picBtn:hover{
    transform: scale(1.2);
}

#soundBtn{
    background: url('media/mute.svg') -10px -9px / 70px no-repeat;
    width: 50px;
    margin-left: 15px;
}

.home{
    background: url('media/homeIcon.svg') 0 0 / 40px no-repeat;
}

.settings{
    background: url('media/settingsIcon.svg') 0 0 / 36px no-repeat;
    background-position: 2px 2px;
}

#settingsContainer{
    left: 0;
    top: 0;
    visibility: hidden;
    transform: translateX(-100%);
    border-right: 5px solid black;
    z-index: 102;
}




/************ Main container ************/

#container{
    height: 99%;

    font-family: 'alien';
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

    flex-direction: row;
}




/************ elements within main container ************/

#canvasContainer{
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
    position: relative; 
    height: fit-content; 
    width: fit-content;
    z-index: 10;
    display: flex;
    align-items: center;
    animation: none;
}

#gamePanel{
    display: none;
    opacity: 0;
    position: relative;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 1s linear, opacity 1s;
    z-index: 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 200px;
    margin-left: -225px;
    transition: margin 1s, opacity 1s;
}

#gamePanel button{
    margin-top: 15px;
}

hr{
    width: 100%;
    border-top: 5px solid black;
    background-color: black;
    border-radius: 10px;
}

#tip{
    margin-bottom: 0;
}




/************ Elements within canvas container ************/

#canvas{
    letter-spacing: 0;
    border-radius: 7px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(34, 193, 195) 0, rgb(253, 187, 45) 100%);
}

#dialContainer{
    display: flex;
    position: absolute;

    top: 0;
    right: 5%;

    width: 15%;
    height: 15%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dialContainerSide{
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dial{
    width: 100%;
    height: 100%;
}

#dialIndicator{
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 4%;
    height: 45%;
    background-color: black;
    transition: transform 1s;
    transform-origin: left bottom;
    transform: rotate(-810deg) translateX(-50%);
    backface-visibility: hidden;
}

#dialIndicatorSide{
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 4px;
    height: 30px;
    background-color: black;
    transition: transform 1s;
    transform-origin: left bottom;
    transform: rotate(-90deg) translateX(-50%);
}

#dialText{
    margin-top: 0;
    white-space: nowrap;
}

#hungerContainer{
    position: absolute;
    bottom: 5%;
    left: 3%;
    border: 3px solid black;
    background-color: black;
    width: 50%;
    height: 5%;
    z-index: 100;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hungerContainerSide {
    position: relative;

    width: 99%;
    height: 15px;
    
    border: 3px solid black;
    background-color: black;

    margin-bottom: 10px;
}

#hungerTitle{
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    margin-top: 0;
}

.hungerBar{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleZ(1);
    transform: translateY(0);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    transition: clip-path 1s ease-in-out, background-color 1s;
}

#actionBtnsContainer{
    position: absolute;
    width: 90%;
    height: 9%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionBtn{
    width: 20%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    padding-top: 1%;
    font-family: 'alien';
    letter-spacing: 0.2em;
    font-size: 2vw;
    transition: all 400ms;
    background-color: white;
    filter: hue-rotate( var(--btnFilter) );
    animation: none;
    backface-visibility: hidden;
}

.actionBtn:hover{
    background-color: #cef28f;
    animation: bounce 300ms ease-in-out 1;
}

#pauseOverlay{
    display: none;
    letter-spacing: 0.5em;
    background-color: transparent;
    background-color: rgba(0,0,0,0.75);
    color: white;
}

#pauseOverlay h1{
    font-size: 4em;
    line-height: 0;
    margin-bottom: 25px;
}

#pauseOverlay button{
    margin-bottom: 30px;
}

#transitionEl{
    visibility: visible;
    clip-path: circle(200% at 50% 50%);
    z-index: 100;
    transition: clip-path 1s ease-in-out, visibility 1s;
    background-color: black;
    color: white;
    display: flex;
}

#pointIndicator{
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s, top 1s;
}

#explosion{
    position: absolute;
    width: 50%;
    transform: translate(-35%, -50%);
}




/************ Exercise page *************/

#exercise{
    transition: all 500ms;
    text-align: center;
    position: fixed;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    display: flex;
    background-color: white;
}

#exercise button{
    margin-top: 20px;
}

#howTo{
    margin-top: 50px;
}

#timer{
    transition: all 200ms;
    backface-visibility: hidden;
}




/************ Tutorial elements *************/

#tutorialPrompt{
    visibility: hidden;
    right: -200px;
    top: 0;
    border-left: 5px solid black;
}

.tutorialOverlay{
    visibility: hidden;
    z-index: 101;
    backdrop-filter: blur(6px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s, visibility 0s;
    overflow-x: hidden;
    min-width: 200px;
}

.tutorialSection{
    margin-left: 25px;
    margin-right: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

#skipTutorial{
    background-color: black;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-family: 'alien';
    letter-spacing: 0.2em;
    font-size: 30px;
    cursor: pointer;
    width: 350px;
    height: 50px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    text-align: center;
    transition: color 500ms, background-color 500ms;
}

#skipTutorial:hover{
    color: black;
    background-color: white;
}

.horizontalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.next{
    margin-top: 20px;
}




/************ Last workout notification *************/

#workoutNotifContainer{
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    left: 0;
    bottom: -150px;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 2px solid black;
    transition: bottom 2s ease-in-out, visibility 2s;
}

#lastWorkout{
    font-family: 'alien';
    letter-spacing: 0.2em;
    text-align: left;
    margin-top: 30px;
    margin-right: 50px;
    width: 75%;
}




/************ Generic Classes *************/

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sideDrawer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: fixed;
    z-index: 100;
    transition: all 1s ease-in-out;
}

.defaultBtn{
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'alien';
    font-size: 20px;
    padding: 2px;
    padding-top: 6px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    letter-spacing: 0.2em;
    transition: transform 400ms;
}

.defaultBtn:hover{
    transform: scale(1.15);
}

.xBtn{
    border: 0;
    background-color: transparent;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 1s;
    backface-visibility: hidden;
    padding: 0;
    line-height: 25px;
    height: fit-content;
    width: fit-content;
}

.xBtn:hover{
    transform: rotate(135deg);
}




/*********** Animations/media queries ***********/

@media only screen and (max-width: 1055px) {
    #gamePanel{
        height: 40vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #dialText::before{
        content: "Weight";
        text-indent:0;
        float: left;
    }

    #dialText{
        text-indent: -9999px;
    }
}

.screenShake{
    animation: shake 100ms ease-in-out 5;
}

@keyframes shake {
    0% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    100% { transform: translateX(2px) }
}

@keyframes bounce {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
