@font-face {
    font-family: 'alien';
    src: url('media/font/QuirkyRobot.eot'); /* IE9 Compat Modes */
    src: url('media/font/QuirkyRobot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('media/font/QuirkyRobot.woff2') format('woff2'), /* Super Modern Browsers */
        url('media/font/QuirkyRobot.woff') format('woff'), /* Pretty Modern Browsers */
        url('media/font/QuirkyRobot.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body{
    background-color: #e0b5ff;
    font-family: 'alien';
    letter-spacing: 0.2em;
    margin: 0;
    overflow-x: hidden;
}

#downIndicator{
    cursor: default;
    position: fixed;
    left: 50%;
    bottom: -10px;
    transform: scaleX(1.5) translateX(-50%);

    animation: upDown 1s ease-in-out infinite;
    transition: transform 1s ease-in-out;
}




/********** Header styles **********/

#header {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'alien';
    color: white;
    background: black;
    width: 100%;
    height: 110px;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 0;
    z-index: 100;
    font-size: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header h1{
    margin-bottom: 15px;
}

.headerCurve {
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.headerCurve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 6.5vw;
}

.headerCurve .shape-fill {
    fill: black; 
}




/********** Main info containers **********/

.rowContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    opacity: 0;
    transition: opacity 1s ease-in-out;
   
    padding: 100px 20px 100px 20px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.textBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}

.textBlock h1{
    font-size: 50px;
}

@media only screen and (max-width: 747px) {
    .textBlock{
        width: 75%;
    }

    .rowContainer{
        flex-direction: column;
    }
}

.shapeDivider {
    margin-top: -52px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeDivider svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 52px;
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 1px 0px white) drop-shadow(1px -1px 0px white) drop-shadow(-1px -1px 0px);
}

.blue{
    background-color: #a8efff;
    /* height: fit-content; */
}

.firstContainer{
    min-height: 330px;
    height: 95vh;
}

.orange{
    background-color: #ffac79;
    fill: #ffac79;
}

.green{
    background-color: #cef28f;
    fill: #cef28f;
}

.red {
    background-color: #ff9b9b;
    fill: #ff9b9b;
}

.purple{
    fill: #e0b5ff;
}




/********** Image styles **********/

#earth{
    animation: rotate 10s linear infinite;
    width: 30%;
    /* height: 30%; */
}

@media only screen and (max-width: 747px) {
    #earth{
        width: 50%;
        /* height: 50%; */
    }
}

#jumpingJacks{
    /* this might not be very compatiable with other browers */
    content: url("media/exercises/Jumping\ Jacks2.svg");
    animation: swapImage 1s linear infinite;
}




/********** Diffrent start buttons (Note: fix these styles) **********/

#startBtn{
    width: 40%;
    display: block;
    border-radius: 20px;
    font-size: 50px;
    cursor: pointer;
    font-family: 'alien';
    letter-spacing: 0.2em;
    box-shadow: 10px 10px #888888;
    
    background: #cef28f;
    line-height: 100px;
    transition: transform 500ms, box-shadow 700ms;
    border: 2px solid #7e9457;

    min-width: 300px;
    max-width: 600px;

    margin: 100px auto;
}

#startBtn:hover{
    transform: translateX(10px) translateY(10px);
    box-shadow: none;
}

#startBtnSmall{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'alien';
    letter-spacing: 0.2em;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
    margin-bottom: 75px;
    background: white;
    color: black;
    line-height: 30px;
    padding-top: 5px;
    transition: transform 400ms ease-in-out, box-shadow 500ms ease-in-out;
    backface-visibility: hidden;
    border: 2px solid black;
}

#startBtnSmall:hover{
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}




/********** Alien creation form styles **********/

#alienFormBackground{
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alienFormContainer{
    width: fit-content;
    height: fit-content;

    background-color: white;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horizontalSpaceAround{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 75px 0px 75px;

}

#alienDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

#alienPreview{
    margin-bottom: -40px;
    filter: hue-rotate(0deg);
    animation: idleAlien 1.5s ease-in-out infinite;
}

#inputs h1{
    margin-bottom: 5px;
}

#nameInput{
    margin-bottom: 30px;
}

.colorPick{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.colorPick:hover{
    transform: scale(1.2);
}

.greenBtn{
    background-color: #cef28f;
}

.blueBtn{
    background-color: #9BF4FB;
}

.pinkBtn{
    background-color: #F5C8EB;
}

.orangeBtn{
    background-color: #F8D6A6;
}

.formBtns{
    margin-bottom: 50px;
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submitBtn{
    width: 45%;
    min-width: 150px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'alien';
    letter-spacing: 0.2em;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
    background: white;
    color: black;
    line-height: 30px;
    padding-top: 5px;
    padding: 5px 10px 0 10px;
    transition: transform 400ms ease-in-out, box-shadow 500ms ease-in-out;
    backface-visibility: hidden;
    border: 2px solid black;
}

.submitBtn:hover{
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}

#xBtn{
    border: 0;
    background-color: transparent;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    margin: 5px;
    margin-top: 15px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 1s;
    backface-visibility: hidden;
    margin-bottom: 10px;
}

#xBtn:hover{
    transform: rotate(135deg);
}




#footnote{
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}




/********** Animations **********/

@keyframes rotate {
    from{transform: rotate(0)}
    to{transform: rotate(360deg);}
}

@keyframes colorChange {
    0%{filter: hue-rotate(0deg); transform:scaleY(1);}
    50%{transform:scaleY(0.9);}
    100%{filter: hue-rotate(360deg); transform:scaleY(1);}
}

@keyframes swapImage {
    from{content: url("media/exercises/Jumping\ Jacks1.svg")}
    to{content: url("media/exercises/Jumping\ Jacks2.svg")}
}

@keyframes upDown {
    0%{bottom: -15px}
    50%{bottom: -5px;}
    100%{bottom: -15px}
}

@keyframes idleAlien {
    0%{transform: scaleY(1);}
    50%{transform: scaleY(0.95);}
    100%{transform: scaleY(1);}
}